* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Muli' ;
    text-decoration: none;
    list-style-type: none;
  }

  .clearfix::after {
      content: "";
      display: table;
      clear: both;
  }

header{
    width: 100vw;
    height: 80px;
}

.header-container{
    max-width: 80vw;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
/*stile per header sinistro*/
.header-left{
    width: 40%;
    display: flex;
    align-items: center;
}

.header-left img {
    height: 60%;
    margin-left: 20px;
    margin-bottom: 10px;
}

.header-left a{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #8b95a7;
}
.header-left a:hover,
.header-right a:hover{
    color: black;
}


/*stile per header destro*/
.header-right{
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-right ul{
    width: 100%;
    display: flex;
    justify-content:space-evenly;
}

.header-right a{
    font-size: 18px;
    font-weight: 700;
    color: #8b95a7;
}

#bottone{
    padding: 10px;
    border: 1px solid #eb008d;
    border-radius: 50px;
    background-color: #eb008d;
    color: #ffffff;
}

/*stile per dropdown*/
.dropdown-menu{
    position: relative;
}
.dropdown{
    position: absolute;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 3px 3px 5px #8b95a7;
    display: none;
}


.dropdown-menu:nth-child(2) ul{
    right: 0;
    width: 120px;
    display: none;
    padding: 0 15px;
}

.dropdown-menu:nth-child(3) ul {
    right: 0;
    width: 245px;
    padding: 0 15px;
    display: none;
    background: #ffffff;
}

 .dropdown-menu:nth-child(n+4) ul {
    right: 0;
    width: 180px;
    padding-left: 15px;
    display: none;
    background: #ffffff;
}

.dropdown li{
    padding: 10px 0;
}

.active{
    color: black!important;
}
